.container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "TOP TOP TOP"
      "NAV MAIN MAIN"
      "FOOTER FOOTER FOOTER";
}
  
.TOP {
    grid-area: TOP;
    background-color: blue;
}

.NAV {
    grid-area: NAV;
    background-color: green;
}

.FOOTER {
    grid-area: FOOTER;
    background-color: yellow;
}

.MAIN {
    grid-area: MAIN;
    background-color: red;
}
  